{% extends "adminBase.html" %}
{% block content %}
  {% with messages = get_flashed_messages()%}
    {% if messages %}
      {%for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  
  <!-- Import Book -->
  <center>
  <div class="card-wrapper">
    <div class="card">
      <br><br>
      <h1>Import Book</h1><br>
      <form action="/admin/createFlight" method="POST" name="createFlightform">
        <!-- Book Title -->
        <label for="booktitle">Book Title:</label><br>
        <input type="text" name="title" class="field" required><br>
        <!-- Author -->
        <label for="author">Author: </label><br>
        <input type="text" name="author" class="field" required><br>
        <!-- Publication Date -->
        <label for="publicationdate">Publication Date: </label><br>
        <input type="date" name="publicationdate" class="field" required><br>
        <!-- ISBN -->
        <label for="isbn">ISBN: </label><br>
        <input type="text" name="isbn" class="field" required><br>
        <!-- Summary -->
        <label for="summary">Summary: </label><br>
        <textarea rows="5" cols="33" placeholder="Write the book's summary..." name="summary" class="field" required></textarea><br>
        <!-- Book pages -->
        <label for="pagesnum">Book Pages: </label><br>
        <input type="number" name="bookpages" class="field" required><br>
        <!-- Maximum Reservation Days -->
        <label for="reservationdays">Reservation Days: </label><br>
        <input type="number" name="reservationdays" class="field" required><br>

        <!-- Check for errors -->
        <p class="error error--hidden"></p>
        <!-- Create button -->
        <input type="submit" value="Import" class="btn">
      </form>
    </div>
</div>
</center>
{% endblock %}
