<!-- bookDetails.html -->
{% extends "adminBase.html" %}
{% block content %}
<h1>Book Details</h1>
<table class="table table-bordered" style="color: #ccd6f6;">
    <tr>
        <th>ISBN</th>
        <td>{{ book.isbn }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ book.title }}</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>{{ book.author }}</td>
    </tr>
    <tr>
        <th>Publication Date</th>
        <td>{{ book.publicationdate }}</td>
    </tr>
    <tr>
        <th>Number of Pages</th>
        <td>{{ book.pagesnum }}</td>
    </tr>
    <tr>
      <th>Summary</th>
      <td>{{ book.summary }}</td>
    </tr>
    <tr>
      <th>Reservation Days</th>
      <td>{{ book.reservationdays }}</td>
    </tr>
    
</table>
{% if reservation %}
<h2>Reservation Details</h2>
<table class="table table-bordered" style="color: #ccd6f6;">
    <tr>
        <th>Reserved By</th>
        <td>{{ reservation.user.firstname }} {{ reservation.user.surname }}</td>
    </tr>
    <tr>
        <th>User Email</th>
        <td>{{ reservation.user.email }}</td>
    </tr>
    <tr>
        <th>Reservation ID</th>
        <td>{{ reservation._id }}</td>
    </tr>
    <tr>
        <th>Mobile</th>
        <td>{{ reservation.user.mobile }}</td>
    </tr>
    <tr>
        <th>Reservation Date</th>
        <td>{{ reservation.reservation.reservationdate }}</td>
    </tr>
    <tr>
        <th>Return Date</th>
        <td>{{ reservation.reservation.returndate }}</td>
    </tr>
</table>
{% else %}
<p>This book is not reserved by any user.</p>
{% endif %}
<a href="{{ url_for('admin.adminAllRegisteredBooks') }}" class="btn btn-primary">Back to All Books</a>
{% endblock content %}
