{% extends "adminBase.html" %}
{% block title %}Show Book Details{% endblock title %}
{% block content %}
<!-- Flashed messages -->
  {% with messages = get_flashed_messages()%}
    {% if messages %}
      {%for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <center>
<form action="/admin/showDetails" method="POST" name="formisbn_form">
    <div class="form-group">
        <label for="isbn"><h2>Enter Book ISBN:</h2></label>
        <input type="text" class="form-control" id="isbn" name="isbn">
    </div>
    <button type="submit" class="btn btn-primary">Find</button>
</form>

<!-- Show Book -->
<br><br><h2>See Book Details</h2>
{% for book in books %}
<div class="card-wrapper">
  <div class="card">
    <h1 class="center"></h1>
    <form action="/admin/showBDetails" method="POST" name="showDetails_form">
      <li class="list-group-item">
        <p>
            <strong>Book Title:</strong> {{ flight.airportoforigin }}<br>
            <strong>Author:</strong> <br> {{ flight.airportfinaldest }}<br>
            <strong>Publication Date:</strong> {{ flight.ticketnumsum }}<br>
            <strong>ISBN:</strong> {{ flight.economytickets }} <br>
            <strong>Summary:</strong> {{ flight.economytickets }} <br>
            <strong>Book Pages:</strong> {{ flight.businesstickets }} <br>
            <strong>Reservation Days:</strong> {{ flight.economyticketsprice }} <br>    
            
            {% for reservation in reservationdetails %}

            {% if reservation.airportoforigin == book.airportoforigin and reservation.airportfinaldest == book.airportfinaldest and reservation.date == book.date %}
            <h3>Person whom has reserved the book</h3>
            <strong>Firstname: </strong> {{ reservation.firstname }} <br>
            <strong>Surname: </strong> {{ reservation.surname }} <br>
            <strong>Mobile number: </strong> {{ reservation.mobile }} <br>
            <strong>Email: </strong> {{ reservation.email }} <br>
            {% endif %}

            {% endfor %}
        </p>
      </li>
      <!-- Check for errors -->
      <p class="error error--hidden"></p>
    </form>
  </div>
</div>
  {% endfor %}
</center>
{% endblock %}