{% extends "adminBase.html" %}
{% block title %}Search Βοοκ via Author{% endblock %}
{% block content %}
  <!-- Flashed Messages -->
  {% with messages = get_flashed_messages()%}
    {% if messages %}
      {%for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <!-- Search -->
  <center>
  <div class="card-wrapper">
    <div class="card">
      <h1 class="center">Search Book via Author</h1>
      <form action="/admin/searchViaAuthor" method="POST" name="searchform">
        <!-- Author -->
        <label for="author">Author: </label>
        <input type="text" name="author" class="field" required><br>

        <!-- Check for errors -->
        <p class="error error--hidden"></p>
        <!-- Submit button -->
        <input type="submit" value="Search" class="button">
      </form>
    </div>
  </div>

  <br><br>
  <h1>Available Books: </h1><br>
  {% for book in books %}
    <div class="container">
    <form action="/admin/searchViaAuthor" method="GET" name="search_form">
        
        <div class="formcontainer">

        <div class="container">

            <strong>Book Title: </strong><br> {{ book._id }}<br>
            <strong>Author: </strong><br> {{ book.airportfinaldest }}<br>
            <strong>ISBN: </strong><br> {{ book.date }}<br>
            <strong>Publication Date: </strong><br> {{ book.airportoforigin }}<br>
                
        </div>

    </form>
    </div>
    {% endfor %}
  </center>
{% endblock %}
