{% extends "userBase.html" %}
{% block title %}Search Βοοκ via ISBN{% endblock %}
{% block content %}
  <!-- Flashed Messages -->
  {% with messages = get_flashed_messages()%}
    {% if messages %}
      {%for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <!-- Search -->
  <center>
  <div class="card-wrapper">
    <div class="card">
      <h1 class="center">Search Book via ISBN</h1>
      <form action="/user/searchViaISBN" method="POST" name="searchform">
        <!-- ISBN -->
        <label for="isbn">ISBN: </label>
        <input type="text" name="isbn" class="field" required><br>

        <!-- Check for errors -->
        <p class="error error--hidden"></p>
        <!-- Submit button -->
        <input type="submit" value="Search" class="button">
      </form>
    </div>
  </div>

  <br><br>
  <h1>Available Books: </h1><br>
  {% for book in books %}
    <div class="container">
    <form action="/user/searchViaISBN" method="GET" name="search_form">
        
        <div class="formcontainer">

        <div class="container">

          <h3 style="padding-top: 8px;">Book ID: {{ book._id }}</h3>
          <strong>Book Title: </strong><br> {{ book.title }}<br>
          <strong>Author: </strong><br> {{ book.author }}<br>
          <strong>ISBN: </strong><br> {{ book.isbn }}<br>
          <strong>Publication Date: </strong><br> {{ book.publicationdate }}<br>
              
          {% if is_book_reserved(book.title) %}
            <p style="font-weight: bolder; color: rgb(194, 0, 0);">The book with the title {{ book.title }} is not currently available. Reserved by another student.</p>
          {% endif %}
              
        </div>

    </form>
    </div>
    {% endfor %}
  </center>
{% endblock %}
