{% extends "userBase.html" %}

{% block title %}UniPi Lending Library{% endblock title %}
{% block content %}

<center>
    <h2>All Registered Books:</h2>

<!-- Flashed messages -->
  {% with messages = get_flashed_messages()%}
    {% if messages %}
      {%for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}


<!-- Show all books -->

{% for book in books %}
<div class="card-wrapper">
  <div class="card" style="border-color: #ccd6f6;">
    <h1 class="center"></h1>
    <form action="/user/userSeeAllBooks" method="POST" name="userAvailableBooks_form">
      <li class="list-group-item">
        <p>
          <strong>Book ID:</strong> {{ book._id }}<br>
          <strong>Title:</strong> {{ book.title }}<br>
          <strong>Author:</strong> <br> {{ book.author }}<br>
          <strong>ISBN:</strong> {{ book.isbn }}<br>
          <strong>Publication Date:</strong> {{ book.publicationdate }} <br>
          <strong>Summary:</strong> {{ book.summary }} <br>
          <strong>Number of Pages:</strong> {{ book.pagesnum }} <br>
          <strong>Reservation Days:</strong> {{ book.reservationdays  }} <br>
        </p>
      </li>
      <!-- Check for errors -->
      <p class="error error--hidden"></p>
    </form>

    {% if is_book_reserved(book.title) %}
        <p style="font-weight: bolder; color: rgb(194, 0, 0);">Availability: x</p>
        <p style="font-weight: bolder; color: rgb(194, 0, 0);">The book with the title {{ book.title }} is not currently available. Reserved by another student.</p>
    {% else %}
        <p style="font-weight: bolder; color: rgb(0, 194, 0);">Availability: ✔</p>
    {% endif %}
  </div>
</div>
<hr style="border-color: #ccd6f6;">
  {% endfor %}
</center>
{% endblock %}